@model CCIA2.Models.ViewModels.MemberAdmitViewModel

<div class="member_bg container">
    <h3>完成複審</h3>
    @using (Html.BeginForm("Admit", "Member", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.sqno)
        <div class="col-sm-2">
            @Html.DropDownListFor(model => model.result, (IEnumerable<SelectListItem>)ViewBag.enrollTypeList, htmlAttributes: new { @class = "form-control", @id = "select-group" })
        </div>        
        <div class="col-sm-2">
            @Html.DropDownListFor(model => model.group, (IEnumerable<SelectListItem>)ViewBag.groupList, htmlAttributes: new { @class = "form-control", @id = "select-group" })
        </div>
        <div class="col-sm-1 pull-right">
            <input type="submit" value="送出" class="btn btn-primary" />
        </div>
    }
</div>
<br />
@Html.Partial("Details", Model.member)

<script>
    $(document).ready(function () {
        $("form").submit(function () {
            return confirm("確定要送出? 送出後將無法再修改!");
        });
    });
</script>